<h1>Anscombe’s quartet dataset</h1>

<h3>Assignment 2018 for Fundamentals of Data Analysis - Investigation into Anscombe’s Quartet Dataset</h3>

This assignment will seek to address the following areas:
<ol><li>Explain the background to the dataset – who created it, when it was created, and any speculation you can find regarding how it might have been created.</li>
<li>Plot the interesting aspects of the dataset.</li>
<li>Calculate the descriptive statistics of the variables in the dataset.</li>
<li>Explain why the dataset is interesting, referring to the plots and statistics above.</li></ol>

<h4>Explain the background to the dataset – who created it, when it was created, and any speculation you can find regarding how it might have been created.</h4>

The Anscombe dataset is comprised of four datasets that are nearly identical in terms of descriptive statistics but appear very different when visualized in a graph. The dataset was created in 1973 by the Englishman Francis Anscombe. Anscombe realized that statistics alone can not fully depict any data set and created this dataset to illustrate his point. Despite the fact that all the datasets have identical variance in x, variance in y, mean of x, mean of y, and linear regression, we can see each set is very different when viewed on a chart.

In [2]:
#Import Librarys
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [5]:
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/datasets/stats/anscombe.csv")

In [6]:
df

      x1   "y1"   "x2"   "y2"   "x3"   "y3"   "x4"   "y4"
0   10.0   8.04   10.0   9.14   10.0   7.46    8.0   6.58
1    8.0   6.95    8.0   8.14    8.0   6.77    8.0   5.76
2   13.0   7.58   13.0   8.74   13.0  12.74    8.0   7.71
3    9.0   8.81    9.0   8.77    9.0   7.11    8.0   8.84
4   11.0   8.33   11.0   9.26   11.0   7.81    8.0   8.47
5   14.0   9.96   14.0   8.10   14.0   8.84    8.0   7.04
6    6.0   7.24    6.0   6.13    6.0   6.08    8.0   5.25
7    4.0   4.26    4.0   3.10    4.0   5.39   19.0  12.50
8   12.0  10.84   12.0   9.13   12.0   8.15    8.0   5.56
9    7.0   4.82    7.0   7.26    7.0   6.42    8.0   7.91
10   5.0   5.68    5.0   4.74    5.0   5.73    8.0   6.89

In [13]:
df['x1'].mean()

9.0

In [16]:
df[['x1' , 'y1']]

KeyError: "['y1'] not in index"